@model IEnumerable<Library.Data.Models.Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header card-header-primary">
                <h4 class="card-title mt-0"> Book Operations</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Author
                                </th>
                                <th>
                                    Publisher
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Cover Image
                                </th>
                                <th>
                                    Operations
                                </th>
                                <th>
                                    Details
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tbody-image">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.BookId
                                    </td>
                                    <td>
                                        @item.BookName
                                    </td>
                                    <td>
                                        @item.Author
                                    </td>
                                    <td>
                                        @item.PublisherName
                                    </td>
                                    <td>
                                        @item.Category.CategoryName
                                    </td>
                                    <td>
                                        ₺ @item.Price
                                    </td>
                                    <td>
                                        <img src="@item.CoverImage" alt="@item.BookName " />
                                    </td>
                                    <td class="td-actions text-right">
                                        <div rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit">
                                            <a href="/Book/Edit/@item.BookId"><i class="material-icons">edit</i></a>
                                            <div class="ripple-container"></div>
                                        </div>
                                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="Remove" aria-describedby="tooltip416464">
                                            <a href="/Book/Delete/@item.BookId"><i class="material-icons">close</i></a>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" rel="tooltip" title="" class="btn btn-success btn-link btn-sm" data-original-title="Details" aria-describedby="tooltip416464">
                                            <a href="/Book/Details/@item.BookId"> <i class="material-icons">segment</i></a>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </td>
                                </tr>

                            }


                        </tbody>
                    </table>
                    <a href="/Book/Add" class="btn btn-primary"><i class="material-icons">library_add</i> New Book</a>

                </div>
            </div>
        </div>
    </div>
</div>